/*-- Start reset --*/
	a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,button,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark form,menu,nav,object,ol,option,output,p,pre,q,ruby,s,samp,section,select,small,span,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;border:0;padding:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
	button,input[type=checkbox],input[type=image],input[type=radio],input[type=submit],label{cursor:pointer}
	strong{font-weight:700}
	em{font-style:italic}
	.fList{list-style:none}
	sub, sup {font-size: 0.8em;vertical-align:sub;}
	sup { vertical-align: super;}
/*-- End reset --*/

html {
	font-size: 62.5%;/* 10px */
}

body {
	font-family: Helvetica, arial, sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
}

.main-number {
	font-size: 5em;
	font-weight: bold;
}

.qr-box {
	float: right;
	width: 150px;
}

.qr-box img {
	display: block;
	width: 100%;
	height: auto;
}

.btn--increment {
	display: inline-block;
	margin: 10px;
	width: 60px;
	height: 60px;
	background: #eee;
	border-radius: 4px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}

.container {
	  -webkit-perspective: 300;
	  perspective: 300;
}

/* remote device */

/* measurements
 * width: 100px;
 * height: 200px;
 * thickness: 88px
 */
 .device-container {
   margin: 100px auto;
   width: 200px;
   height: 300px;
   position: relative;
   perspective: 1000px;
 }

 .device {
   width: 100%;
   height: 100%;
   position: absolute;
   transform-style: preserve-3d;
   transform: translateZ(-100px);
   transition: transform 1s;
 }
 .device__face {
   margin: 0;
   width: 196px;
   height: 296px;
   display: block;
   position: absolute;
   border: 2px solid black;
   background: rgba(255,255,255,0.5);
   font-size: 4em;
   text-align: center;
 }

 .device__face--top,
 .device__face--bottom {
	width: 196px;
	height: 196px;
 }

 .device__face--front  { transform: rotateY(   0deg ) translateZ( 100px ); }
 .device__face--back   { transform: rotateX( 180deg ) translateZ( 100px ); }
 .device__face--right  { transform: rotateY(  90deg ) translateZ( 100px ); }
 .device__face--left  { transform: rotateY( -90deg ) translateZ( 100px ); }
.device__face--top    { transform: rotateX(  90deg ) translateZ( 100px ); }
 .device__face--bottom { transform: rotateX( -90deg ) translateZ( 100px ); }
