
.user-map-container {
	margin: 4em 1em 1em;
	border: 2px solid #eee;
	width: 20em;
	height: 20em;
	width: 10em;
	height: 10em;
}

.user-map {
	position: relative;
	width: 100%;
	height: 100%;
}

.user {
	position: absolute;
	width: 2em;
	height: 2em;
}

.user--you,
.user--has-unknown-position {
	bottom: 1em;
	left: 50%;
	margin-left: -1em;
}

.user--has-unknown-position {
	position: relative;
	float: left;
	left: 0;
	top: -3em;
	bottom: auto;
	margin: 0 0.5em 0 0;
}

.avatar {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 2px solid transparent;
	color: #ccc;
	background: currentcolor;
	text-align: center;
}

.avatar .initial {
	color: #ccc;
	text-transform: uppercase;
	font-weight: bold;
	vertical-align: middle;
}

.user--unjoined .avatar {
	border-style: dotted;
}

.user--has-unknown-position .avatar{
	background: transparent;
	border-style: dotted;
	border-color: currentcolor;
}

.user--has-unknown-position .avatar .initial {
	color: currentcolor;
}